.main-form-blog{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-color: #fff;
    margin: 14% 5%;
    padding: 40px 40px;
}

.form-blog{
    width: 55%;
}

.form-blog h2{
    font-size: 36px;
    font-family: "Roboto-Medium";
    margin-bottom: 40px;
}

.form-blog input, select{
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 15px;
    outline: none;
    border: 1px solid #E7E7E7;
    font-size: 16px;
    border-radius: 4px;
    font-family: "Roboto-Light";
}

.form-description{
    height: 150px;
    border: 1px solid #E7E7E7;
    border-radius: 4px;
    margin-bottom: 15px;
}

.form-description input{
    border: none;
}

/* #file-upload{
    display: none;
} */

.btn-file-upload{
    padding: 12px 20px;
    background-color: #FFF72F;
    color: #000;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: "Roboto-Medium";
}

.btn-create{
    padding: 12px 20px;
    background-color: #00A2DC;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    margin-bottom: 15px;
    font-family: "Roboto-Medium";
}
